.angledLine {
    max-width: 1312px;
    height: 24px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
    background: url('../assets/repeater.svg');
}

.angledLineWrap {
    padding: 0 64px;
    width: calc(100% - 128px);
}

@media (max-width: 600px) {
    .angledLineWrap {
        padding: 0 24px;
        width: calc(100% - 48px);
    }
}