.navBarWrap {
    max-width: 90rem;
    margin: 0 auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
    max-width: 100rem;
    text-shadow: none;
}

.items {
    display: flex;
    align-items: center;
}

.item,
.logo {
    opacity: 0.7;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.item {
    margin-right: 1.5rem;
}

.item:hover,
.logo:hover {
    text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
    opacity: 1;
}