.binary {
    max-width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: none;
    opacity: 0.3;
    font-size: 0.7rem;
    mask-image: radial-gradient(70% 500% at 50% 50%, black 40%, transparent 65%);
    position: fixed;
    z-index: 10;
}

.topSpace {
    height: 1rem;
    display: block;
}